@font-face {
  font-family: 'Letter Gothic Standard';
  src: url('/fonts/LetterGothicStd.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Letter Gothic Slanted';
  src: url('/fonts/LetterGothicStd-Slanted.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Letter Gothic Bold';
  src: url('/fonts/LetterGothicStd-BoldSlanted.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'Schwifty';
  src: url('/fonts/schwifty.ttf') format('truetype');
  font-weight: 800;
}
