.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-16);
  padding: 0;
  width: 100%;
  max-width: 1200px;
  height: fit-content;
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-48);
  }
}
